/* we are linking pre declared css with the main css*/
@import url('pre.css');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    display: block;
    position: relative;
    width: 100vw;
    min-height: 100vh;
    background: var(--col-glass);
}

/* Header design starts from here.*/
header {
    font-family: var(--font-Pop);
    width: 70vw;
    backdrop-filter: blur(5px);
    box-shadow: var(--shadow-light);
    border-radius: var(--round-2xl);
    position: fixed;
    top: 10px;
    left: 30%;
    transform: translate(-25%, 0);
    z-index: 99999;
}
header nav{
    display: flex;
}
header li {
    font-weight: 200;
    transition: all 1s var(--cubic-ease-beiz);
}
header button{
    display: none;
}

header li:hover .svg-arrow {
    transform: rotate(180deg);
}

/* Header design ends here.*/

/* ----------------------------------  */

/* Main design starts from here.*/
/* ----------------------------------  */
/* section-1 design starts from here.*/
.container {
    margin: auto;
    max-width: 1440px;
    min-height: 100vh;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.--home_bg-img {
    flex: 1 0 0;
    height: 100vh;
}

.--home_disc-bar {
    flex: 1 0 0;
    min-width: 300px;
    height: 100vh;
}

.--home_heading {
    font-size: clamp(2rem, 5vw, 5rem);
    font-family: var(--font-work);
    color: var(--col-black);
}

.--home_heading span {
    color: var(--col-orange-500);
}

/* section-1 design ends here.*/

/* -----------------------------  */
/* section-2 design starts from here.*/
#ShowCase {
    margin-top: 30px;
}

.--show_contact {
    width: 90vw;
    border: 2px solid rgba(246, 199, 28, 0.339);
    border-top-left-radius: var(--round-2xl);
    border-bottom-left-radius: var(--round-2xl);
    margin: auto;
}

.--show_contact input {
    font-family: var(--font-mono);
    flex: 1 0 0;
    outline: none;
    border: 1px solid rgba(246, 199, 28, 0.339);
    border-radius: var(--round-lg);
    font-size: var(--text-md);
    background: var(--col-yellow-500);
    color: var(--col-black);
}
.--show_contact input::placeholder{
    color: var(--col-black);
}

.--show_contact .show-btn {
    font-family: var(--font-work);
    width: 100px;
    height: 40px;
    font-size: 1.1em;
    cursor: pointer;
    background-color: #171717;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: all .4s;
}

.--show_container-box{
    width: 100vw;
    min-height: 30vh;
}
.--show_container-box .--show_box{
    font-family: var(--font-Pop);
    flex: 1 0 0;
    min-width: 320px;
    min-height: 30vh;
    border: 2px solid rgba(238, 197, 16, 0.294);
}
.--show_box span{
    font-size: clamp(2rem,4vw,4rem);
    font-weight: 700;
}
.--show_box p{
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
    color: var(--col-darkblue-700);
}
.--show_box:nth-child(1) span{
    color: var(--col-pink-700);
}
.--show_box:nth-child(2) span{
    color: var(--col-orange-500);
}
.--show_box:last-child span{
    color: var(--col-blue-600);
}
.--show_comp svg{
    width: 100%;
}
.--show-comp_cont{
    width: 100vw;
    border-bottom: 3px solid rgba(238, 197, 16, 0.294);
}
.--show-comp_cont .--show_comp{
    flex: 1 0 0;
}
/* section-2 design ends here.*/

/* -----------------------------  */
/* section-3 design starts from here.*/
.User-loves{
    background: url('../assets/plastic.jpg') no-repeat;
    mix-blend-mode: darken;
    background-position: 100% 100%;
    background-size: cover;
    margin-top: 50px;
    min-height: 100vh;
}
.--User-loves-bar div{
    font-family: var(--font-Pop);
    flex: 1 0 0;
    min-width: 400px;
}
.--User-loves-bar div img{
   width: 100%;
}
.--User-loves-bar h1{
    font-size: clamp(1.5rem,3vw,2.5rem);
    margin-inline: 50px;
}
.--User-loves-bar li{
    margin-inline: 10px;
}
/* section-3 design ends here.*/

/* -----------------------------  */
/* section-4 design starts from here.*/
.blog{
    width: 100vw;
    min-height: 100vh;
}
.btn-shad{
    font-size: 18px;
    float: right;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    text-transform: capitalize;
    margin-right: 2rem;
    background: transparent;
    border: 2px solid black;
    cursor: pointer;
}
.blog-container{
    margin-block: 30px;
    margin-inline: 20px;
}
.blog-box{
    border-radius: var(--round-md);
    margin-top: 1rem;
    width: 90vw;
    height:300px;
    background: var(--col-blue-200);
}
.blog-box:last-child{
    background: var(--col-yellow-400);
}
.blog-box img{
    border-radius: var(--round-md);
    flex: 1 0 0;
    width: 100%;
    border-bottom-right-radius: 200px;
    object-fit: cover;
}
.blog-box:last-child img{
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 200px;
}
.blog-desc{
    flex : 2 0 0;
}
.blog-desc h2{
   font-family: var(--font-work);
   font-size: clamp(2rem,3vw,3rem)
}
.blog-desc p{
    width: 70%;
    font-family: var(--font-work);
   font-size: clamp(1.5rem,1.5vw,2rem)
}
/* section-4 design ends here.*/

/* -----------------------------  */
/* section-5 design starts from here.*/
.--people-speak{
    margin-right: 50px;
}
.--people-speak h1{
    text-align: center;
    font-weight: 300;
    font-family: var(--font-Pop);
    font-size: clamp(2rem,4vw,4rem);
}
.comment-container{
    padding: 20px;
}
.comment-box{
    flex: 1 0 0;
    min-width: 500px;
    border: 1px solid black;
    padding: 20px;
    opacity: 0;
}
.comment-box p{
    font-size: clamp(1rem,1.8vw,1.8rem);
    font-family: var(--font-Pop);
}
.comment-box svg:last-child{
    float: right;
}
/* section-4 design ends here.*/

/* Footer design starts from here. */
footer{
    min-height: 50vh;
    background: url('../assets/footer_bg.svg') 150% no-repeat;
    background-size:100%;
}
.links-box{
    min-height:45vh;
    justify-content: space-around;
    align-items: end;
}
.footer-info{
    height: 5vh;
    font-size: var(--text-md);
    font-family: var(--font-work);
    text-align: center;
    width: 100vw;
    background: var(--col-blue-600);
    color: white;
}
.footer-info p{
    padding: 5px;
}
.links-box ul:first-child h1{
    font-size: clamp(2rem,4vw,4rem);
    font-family: var(--font-Pop);
    color:var(--col-purp-700);
}
.links-box ul h1{
    font-size: 22px;
    font-family: var(--font-Pop);
    color:var(--col-blue-600);
}
.links-box ul p{
    width: 320px;
    font-family: var(--font-Pop);
    padding: 10px;
    color: var(--col-pastel);
}
.links-box ul li{
    opacity: 0.8;
    font-size: 18px;
    font-family: var(--font-Pop);
    color: #ffffffe5;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}
.links-box ul li:hover{
    text-decoration: underline;
    color: #ffffff;
}


/* Responsiveness parts start from here */
@media screen and (max-width : 768px) {
    header{
        width: 100vw;
        top: 0;
        left: 0;
       transform: translate(0);
       border-radius: 0;
    }
    header button{
        display: block;
    }
    header button img{
        object-fit: cover;
        width: 50px;
        height: 24px;
    }
    header nav,header ul li{
        display: none;
    }
    .blog-box{
        flex-direction: column;
        height: auto;
    }
    .blog-desc{
        padding: 20px;
    }
    .blog-desc p{
        width: 100%;
    }
    .blog-box:last-child img{
        border-top-left-radius: 100px;
    }
    .img{
        display: none;
    }
    .comment-container{
        padding: 0;
    }
    .comment-box{
        margin: 0;
        padding: 5px;
        width: 200px;
    }
    footer{
        min-height: 100vh;
        background: var(--col-slate-300);
    }
    .links-box{
        min-height: 95vh;
    }
}
@media (min-width:768px) and (max-width : 1100px) {
    
}

